# this requires a network called web to be created externally

version: "3.8"

services:
  website:
    build:
      context: .
      dockerfile: packages/website/Dockerfile
    restart: unless-stopped
    ports:
      - "3005:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:example@postgres:5432/postgres
    depends_on:
      - postgres
    networks:
      - web

  postgres:
    image: postgres:17
    restart: unless-stopped
    container_name: survive-the-night-db
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      POSTGRES_PASSWORD: example
      PGDATA: /data/postgres
    volumes:
      - postgres_data:/data/postgres
    networks:
      - web

  game-server:
    build:
      context: .
      dockerfile: packages/game-server/Dockerfile
    restart: unless-stopped
    ports:
      - "3006:3001"
    environment:
      - NODE_ENV=production
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
    networks:
      - web

networks:
  web:
    external: true

volumes:
  caddy_data:
  caddy_config:
  postgres_data:
